<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="getInstanceJdbc" class="connection.JdbcConnection"></bean>
    
    <bean id="examesDAO" class="dao.ExamesDAO">
    	<constructor-arg ref="getInstanceJdbc"></constructor-arg>
    </bean>
    
    <bean id="medicoDAO" class="dao.MedicoDAO">
    	<constructor-arg ref="getInstanceJdbc"></constructor-arg>
    </bean>
    
    <bean id="pacienteDAO" class="dao.PacienteDAO">
    	<constructor-arg ref="getInstanceJdbc"></constructor-arg>
    </bean>
</beans>
 